body {
    font-family: 'Buda', cursive;  
}

h2 {
    font-size: 48px;
}

h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
}

main {
    padding: 25px;
}

section {
    color: #1a1a1a;
    background-color: #99CDE4; 
    padding: 5px
}

p {
    font-size: 20px;
}

footer {
    background-color: #E9E9E9;
}

.navLinks {
    margin-left: 25px;
}

.navImages {
    margin-bottom: 50px;
    margin-right: 40px;
    margin-left: 40px;
}

.rowSpacing {
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttonColor {
    color: gray;
    /* background-color: #EEB6B7; */
}

.theModal {
    background-color:  #99CDE4;
}

#navText {
    background-color: #6e7376;
    color: white;
    font-size: 32px;
    
}




