body {
    font-family: 'Buda', cursive;  
}

h2 {
    font-size: 48px;
}

h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
}

main {
    padding: 25px;
}

section {
    color: #1a1a1a;
    background-color: #99CDE4; 
    padding: 5px
}

p {
    font-size: 20px;
}

footer {
    background-color: #E9E9E9;
}


.navLinks {
    margin-left: 25px;
}

.navImages {
    margin-bottom: 50px;
    margin-right: 40px;
    margin-left: 40px;
}

.rowSpacing {
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttonColor {
    color: gray;
    /* background-color: #EEB6B7; */
}

.theModal {
    background-color:  #99CDE4;
}

#navText {
    background-color: #6e7376;
    color: white;
    font-size: 32px;
    
}

/* nav bar effects - start */
/* name: border hover effect */
/* url: https://codepen.io/dig-lopes/pen/XovjNL */

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  padding: 0;
}

.nav a {
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  transform: translate(100%, -50%)
}

.nav a:hover:before,

.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: white;
}

/* nav bar effects - end */


